<!-- views/add.erb -->
<!doctype html>
<html>
  <head>
    <title>Post Details</title>
  </head>
  <body>
    <h1><%= @post_details.title %></h1>
<p><%= @post_details.content %></p>
<p>Created on: <%= @post_details.date.strftime("%d %b %y")%></p>




  </body>
</html>
