<!-- views/add.erb -->
<!doctype html>
<html>
  <head>
    <title>Blog Posts</title>
  </head>
  <body>
    <h1>Not Another Blog</h1>
    <h4>
      <em>blogger like you never blogged before</h4></em>
    <ul>

      <% @posts.each_with_index do |post, index| %>
      <li>
      <a href="http://localhost:4567/post_details/<%=index%>"><%= post.title %></a>
      </li>
      <% end %>
 
    </ul>
  <a href="/new_post" class="button">ADD NEW POST</a>
  </body>
</html>
