<!DOCTYPE html>
<html>
<head>
  <title>WordCentral</title>
</head>
<body>

<h1>Word Central</h1>
<p>Your destination for text utilities.</p>
<%= link_to "text_inspections", "/text_inspections/new" %>

</body>
</html>
