  body:after {
    font-size: 300%;
    position: fixed;
    bottom: 60px;
    width: 100%;

    text-align: center;
    color: white;
  }


@media only screen and (min-width: 320px) {
  body:after {
    content: "320 and up";
    background-color: #ff6666;
  }

}


@media only screen and (min-width: 480px) {
  body:after {
    content: "480 and up";
    background-color: #ff7766;
  }

}
@media only screen and (min-width: 768px) {
  body:after {
    content: "768 and up";
      background-color: #ff8866;
  }

}
@media only screen and (min-width: 1024px) {
  body:after {
    content: "1024 and up";
        background-color: #ff4466;
  }

}
