<h1>about me</h1>
<p>
<em>once upon a time</em> in a dark forest in a land far far away there was a troll...
<br>The troll was so happy even without money to land! how amazing is that?
<br>and then he lived happily ever after with himself and the birds and bees. :)
</p>
<% if Date.today.tuesday? %>
<p> I L<b><3</b>VE rainy Tuesdays!!!<p>
<% end %>

<h1>Today</h1>
<p>Today is:</p>
<%= Date.today %>
